@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'lato';
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 40%;
    background-color: rgb(0, 255, 255);
    flex-direction: column;
}